---
import Layout from '../layouts/Layout.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout title="Contacto - Fluydo S.A">
  <main>
    <ContactSection />
  </main>
</Layout>
