---
import Layout from '../layouts/Layout.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout title="Contacto - Fernando Lis">
  <main>
    <div class="py-12 bg-gray-500">
      <div class="container mx-auto px-4">
        <h1 class="text-4xl font-bold text-center text-white">Contacto</h1>
      </div>
    </div>
    <ContactSection />
  </main>
</Layout>
