---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutSection from '../components/AboutSection.astro';
import PurchaseConditions from '../components/PurchaseConditions.astro';
import HistorySection from '../components/HistorySection.astro';
import ContactSection from '../components/ContactSection.astro';
---

<Layout title="Fluydo S.A - Importadores de Marroquinería y Accesorios de Moda">
  <main>
    <Hero />
    <AboutSection />
    <PurchaseConditions />
    <HistorySection />
    <!-- <ContactSection /> -->
  </main>
</Layout>
