---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import LoginForm from '../components/LoginForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Ingresar - Fernando Lis">
  <Header />
  <main>
    <LoginForm />
  </main>
  <Footer />
</Layout>
