---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href} class="bg-gray-300 text-secondary hover:bg-gray-200 font-medium py-3 px-6 rounded-lg border border-secondary transition-colors">
  <slot />
</a>